@model List<Contact>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Lista kontaktów</h2>

@if (Model.Count > 0)
{
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model[0].Name)</th>
            <th>@Html.DisplayNameFor(model => model[0].Email)</th>
            <th>@Html.DisplayNameFor(model => model[0].Subject)</th>
            <th>@Html.DisplayNameFor(model => model[0].Message)</th>
            <th>@Html.DisplayNameFor(model => model[0].Priority)</th>
            <th>@Html.DisplayNameFor(model => model[0].Date)</th>
            <th>@Html.DisplayNameFor(model => model[0].Created)</th>
            <th>Akcje</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Email</td>
                <td>@item.Subject</td>
                <td>@item.Message</td>
                <td>@item.Priority.GetDisplayName()</td>
                <td>@item.Date.Date</td>
                <td>@item.Created</td>
                <td>
                    <a class="btn btn-primary"
               asp-action="Edit"
               asp-controller="Contact"
               asp-route-id=@item.Id>Edytuj</a>
                    <a class="btn btn-primary"
               asp-action="Details"
               asp-controller="Contact"
               asp-route-id=@item.Id>Szczegóły</a>
                    <a class="btn btn-primary"
               asp-action="Delete"
               asp-controller="Contact"
               asp-route-id=@item.Id>Usuń</a>
                </td>
            </tr>
        }
    </table>
}